* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: "Open Sans", "Lucida Grande", Arial, sans-serif;
    background: #f7f7f7;

}

h1 {
    text-transform: uppercase;
    font-family: "Barlow Condensed", "Roboto", Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Products {
    height: 500px;
    width: 600px;
    min-width: 300px;
    /* border: 1px solid blue; */
    background: #fff;
    box-shadow: 0 3px 6px 0 grey;
    margin: 2em;
    padding: 1em;
}

.Cart {
    height: 500px;
    width: 450px;
    min-width: 300px;
    /* border: 1px solid blue; */
    background: #fff;
    box-shadow: 0 3px 6px 0 grey;
    margin: 2em;
    padding: 1em;
}

.product {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
}

.cart-item-quantity {
    display: flex;
}
