.Discount {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
    padding-top: 1em;
}

fieldset {
    border: none;
    display: block;

}

.radio-buttons {
    display: block;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #eee;
  border-radius: 25%;
  border: 1px solid black;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #34d5ac;
}
